{
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "@utils": "./src/utils",
        "@themes": "./src/themes",
        "@components": "./src/components",
      }
    }]
  ]
}
